$COLOR-PALLET-WHITE: #fff;
$COLOR-PALLET-GREY-200: #eee;
$COLOR-PALLET-GREY-500: #999;
$COLOR-PALLET-GREY-800: #252c36;

$TEXT-COLOR-WHITE: $COLOR-PALLET-GREY-200;
$TEXT-COLOR-GREY: $COLOR-PALLET-GREY-500;
$TEXT-COLOR-BLACK: $COLOR-PALLET-GREY-800;

$BACKGROUND-COLOR-DARK: $COLOR-PALLET-GREY-800;
$BACKGROUND-COLOR-LIGHT: $COLOR-PALLET-WHITE;
