:root {
  --text-color-default: #444;
  --text-color-primary: #111;
  --background-color-default: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-default: #aaa;
    --text-color-primary: #eee;
    --background-color-default: #222;
  }
}
