@import '../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #cf4646;
  background-image: url('./images/triangle-1.svg'), url('./images/triangle-2.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 128px 12px;
    max-width: 600px;
    color: $TEXT-COLOR-BLACK;
    line-height: 1.6;
    text-align: center;
    font-size: 1.4rem;

    .me {
      border-radius: 50%;
      width: 120px;
    }

    .hello {
      font-size: 2.5rem;
      margin: 12px;
    }
  }
}
