.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #cf4646;
  background-image: url("./images/triangle-1.svg"),
    url("./images/triangle-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  padding: 128px 12px;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-color-black);
  line-height: 1.6;
  text-align: center;
  font-size: 1.4rem;
}

.me {
  border-radius: 50%;
  width: 120px;
}

.hello {
  font-size: 2.5rem;
  margin: 12px;
}
